<% layout('layouts/boilerplate') %>
<div class="row">

  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
  
    <form action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST" novalidate class="validate-form" enctype="multipart/form-data">

    <div class="mb-3">
      <label class = "form-label" for="title">Title</label>
      <input class = "form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required/>
      <div class="invalid-feedback">Title is needed</div>
      <div class="valid-feedback">Good!</div>
    </div>
  
  
    <div class="mb-3">
      <label class = "form-label" for="location">Location</label>
      <input class = "form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" required/>
      <div class="invalid-feedback">Location is needed</div>
      <div class="valid-feedback">Good!</div>
    </div>
  
  
  <div class="mb-3">
  <label class = "form-label" for="price">Campground Price</label>
  <div class="input-group">
    <span class="input-group-text" id="price-label">$</span>
    <input type="text" class="form-control" id="price" placeholder="0.00" 
    aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>" required>
    <div class="invalid-feedback">Price is needed</div>
    <div class="valid-feedback">Good!</div>
  </div>
  </div>
  
  
  <div class="mb-3">
    <label class = "form-label" for="description">Description</label>
    <textarea class = "form-control" type="text" id="description" name="campground[description]" required><%= campground.description%> </textarea>
    <div class="invalid-feedback">Description is needed</div>
    <div class="valid-feedback">Good!</div>
  </div>


  <div class="mb-3">
    <label for="image" class="form-label">Add Image(s)</label>
    <input class="form-control" type="file" id="image" name="image" multiple>
  </div>
  
  <div class="mb-3">
    <label for="" class="form-label d-block">Select Image(s) to Remove</label>

    <% campground.images.forEach((img, i) =>{ %>
      <div class="form-check-inline"> 
        <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
      </div>
      <label for="image-<%= i %>"> <img src="<%= img.thumbnail %>" class="img-thumbnail" alt=""> </label>
    <%}) %> 
  </div>
  
  <div class="mb-3">
    <button class="btn btn-info">Update</button>
    <a class="btn btn-warning" role="button" href="/campgrounds/<%= campground._id %>">Cancel</a>
  </div>

  </form>
  
  </div>
  </div>